<main class="page__main">
  <div class="buy-now"> 
    <h1>Disfruta creando espacios</h2>
    <button> Comprar Ahora </button>
  </div>

  <div class="benefits-main">
    <h2>Volverse organizado se siente mejor con OPEN SPACES</h2>
    <div class="benefits-reasons">
      <div class="reasons-1">
        <img src="./images/icon_1.png" alt="space procuts">
        <h3>Lo que necesitas</h3>
        <p>Una línea de productos diseñados para todos tus espacios</p>
      </div>
      <div class="reasons-2">
        <img src="./images/Biodegradable bag.png" alt="bio bag">
        <h3>Materia primas sustentables</h3>
        <p>Todos los productos con materias primas sustentables</p>
      </div>
        <div class="reasons-3">
        <img src="./images/Park.png" alt="Park">
        <h3>Guía</h3>
        <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
      </div>
    </div>
  </div>

  <div class="shipping">
    <img src="./images/go_6.png" alt="Envíos">
    <h3>Envío gratis garantizado</h3>
    <p>Envío gratis en compras desde 100</p>
    <a href="https://adalab.es/">Comprar ahora</a>
  </div>

  <div class="create-spaces">
    <div class="create-spaces--text">
      <h3>Disfruta creando espacios</h2>
      <p>Una línea de productos diseñados para todos tus espacios</p>
      <button>Comprar Ahora</button>
    </div>
    <div class="img-paper">
      <img src="./images/creando-espacios.jpg" alt="decoración">
  </div>
  </div>
</main>
